.nft-content {
  position: relative;
  padding: 24px;
  .container {
    // max-width: 500px;
    .description {
      margin-bottom: 20px;
      color: @font-color;
    }
    .ant-btn {
      width: 100%;
      // max-width: 190px;
      margin: 24px 0 -24px 0;
    }
  }
  .view-selection {
    text-align: right;
    .ant-radio-button-wrapper {
      border: none;
      box-shadow: none;
      transition: none;
    }
    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
      box-shadow: none;
    }
    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
      background-color: transparent;
    }
    .ant-radio-button-wrapper:not(:first-child)::before {
      background-color: transparent;
    }
  }
  .nft {
    .ant-avatar {
      width: 24px;
      height: 24px;
      // padding: 0 5px 5px 0;
      margin-right: 5px;
    }
  }
  .grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-width: 800px;
    .ant-card {
      margin-bottom: 12px;
    }
  }
  .back-button {
    margin: 12px 0;
  }
}

.ant-layout-content .nft-detail {
  background: #fff;
  .nft-image img {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    margin: 50px auto;
  }
  .title {
    margin-top: 16px;
    font-size: 24px;
  }
  .description {
    max-width: 800px;
    color: @font-color;
  }
  .item {
    margin: 30px 0;
    .label {
      color: @font-color;
    }
    .address {
      padding: 10px 8px;
      background: #f0f0f0;
      border-radius: 4px;
    }
  }
  .ant-layout,
  .ant-layout-sider {
    background: #fff;
  }
  .ant-layout {
    margin: 10px;
    .ant-layout-content {
      margin: 0 10px;
      .description {
        white-space: pre-line;
      }
    }
  }

  .ant-card-head-title {
    color: @azure;
  }
  .vote-result-section {
    padding-bottom: 10px;
  }
  .ant-radio-group {
    width: 100%;
    text-align: center;
    .ant-radio-button-wrapper {
      display: block;
      height: 46px;
      margin-bottom: 8px;
      line-height: 46px;
      border: 1px solid #d9d9d9;
      border-radius: @border-radius;

      &::before {
        width: 0;
      }
    }
    .ant-radio-button-wrapper-checked {
      border: 1px solid @azure;
    }
  }
}
