.price-chart-overlay {
    fill: none;
    pointer-events: all;
}

.price-chart-focus circle {
    fill: steelblue;
}

.price-chart-focus text {
    font-size: 14px;
}

.price-chart-tooltip {
    min-width: 100px;
    min-height: 20px;
    width: auto;
    height: auto;
    fill: white;
    stroke: #000;
}

.price-chart-tooltip-date,
.price-chart-tooltip-price {
    font-weight: bold;
}
