.balance-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 20px;
  padding: 24px;
  text-align: center;
  .balance {
    color: @font-color-dark;
    font-weight: 500;
    text-align: left;
    .title {
      font-size: 12px;
      opacity: 0.5;
    }
    .quantity {
      font-size: 24px;
    }
  }
}
.back-to-welcome {
  margin: 10px;
}
.ant-spin.ant-spin-spinning {
  position: relative;
  left: calc(@sider-width / 2);
  margin: auto;
  color: @azure;
}
