@import "../../index.less";

.create-page{
    display: grid;
    grid-template-columns: 20vw 60vw 20vw;
    grid-template-rows: 20vh 80vh;
    grid-template-areas: 
    "header header header"
    ". container ."
    ". . .";
    background: @background-color;
    .header{
        margin: 40px 0;
        grid-area: header;
        display:flex;
        justify-content: center;
        align-items: center;
        .logo{
            width:240px;
        }
    }
    .container{
        grid-area: container;
        display:flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-weight: 500;

        .title{
            font-size: 24px;
        }
        .slogan{
            font-size: 14px;
            color: #0b1426;
            opacity: 0.5;
            margin: auto;
            width: 50vw;
        }
        form{
            margin-top: 40px;
            width: 100%;
            max-width: 600px;
        }
        .button-container{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 32px;
            .ant-btn{
                margin: 10px;
                color: @azure;
                border-radius: 4px;
                border: solid 2px @azure;
                font-size: 16px;
                font-weight: 600;
                line-height: 1.38;
                width: 184px;
                height: 48px;
                background: transparent;
                &.ant-btn-primary{
                    color: @white;
                    background: @azure;
                }
            }
        }
    }
    
}