@import '../../index.less';

.backup-page {
  display: grid;
  grid-template-areas:
    'header header header'
    '. container .'
    '. . .';
  grid-template-rows: 20vh 80vh;
  grid-template-columns: 20vw 60vw 20vw;
  background: @background-color;

  .header {
    display: flex;
    grid-area: header;
    align-items: center;
    justify-content: center;
    margin: 40px 0;

    .logo {
      width: 240px;
    }
  }

  .container {
    display: flex;
    grid-area: container;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    text-align: center;

    .title {
      font-size: 24px;
    }

    .slogan {
      width: 50vw;
      margin: auto;
      color: #0b1426;
      font-size: 14px;
      opacity: 0.5;
    }

    .phrase-container{
        background: @white;
        border-radius: 8px;
        box-shadow: 2px 0 12px 2px rgba(11, 20, 38, 0.05);
        display: grid;
        max-width: 400px;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 20px;
        margin: 20px auto;
        .phrase{
            margin: 10px;
            padding: 10px;
            span{
                color: @font-color;
                opacity: 0.5;
            }
            border-bottom: 2px solid rgba(128, 128, 128, 0.1);
        }
    }

    .ant-checkbox-wrapper{
        margin: 10px 0;
    }
  }
}


