@import '~antd/lib/style/themes/default.less';
@import '~antd/dist/antd.less';

.ant-btn {
  height: 48px;
  margin: 10px;
  color: @azure;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  background: transparent;
  border: solid 2px @azure;
  border-radius: 4px;

  &.ant-btn-primary:not([disabled]) {
    color: @white;
    background: @azure;
  }
}

.ant-table-tbody .ant-table-cell {
  padding: 10px 16px;
  font-size: 12px;
}
.ant-pagination-prev,
.ant-pagination-next,
.ant-pagination-jump-prev,
.ant-pagination-jump-next,
.ant-pagination-item {
  width: 32px;
  min-width: 32px;
  height: 32px;
  line-height: 32px;
}

body {
  margin: 0;
  font-weight: 500;
  font-family: @base-font-family;
  background: @layout-body-background;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.mouse-tooltip {
  color: @azure;
  span {
    opacity: 1;
    transition: opacity 0s;
  }
  &.hide span {
    opacity: 0;
    transition: opacity 0.5s;
  }
}
